body
{
    font-family: 'Luckiest Guy', cursive;
    background-size:cover;
}

.header
{
    font-size:50px;
    letter-spacing:1px;
    background-color:rgb(171, 118, 3);
    color:rgb(0, 0, 0);
    box-shadow: 10px 10px 10px 10px rgb(35, 35, 35);
}

#object
{
    background-color:rgb(171,118,3);
    font-size:40px;
    color:rgb(0, 0, 0);
    letter-spacing:2px;
    display:inline-block;
    width:200px;
    border-radius:30px;
}

canvas
{
   border:5px solid rgb(171, 118, 3);
   box-shadow: 5px 5px 5px rgb(38, 38, 38);
   border-radius:10px;
   margin-top:30px;
   margin-left:160px;
}
